@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  font-family: "Lato", sans-serif;
}
.logo {
  width: 106px;
  height: 54px;
}
.head {
  width: 1230px;
  height: 52px;
  margin-top: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
a {
  text-decoration: none;
  color: #424551;
  font-weight: 700;
  font-size: 16px;
}
.sslki {
  width: 432px;
  height: 26px;
  display: flex;
  justify-content: space-between;
}
.get {
  font-size: 24px;
  font-weight: 400;
  padding: 8px 57px;
  border-radius: 4px;
  border: 1px solid #424551;
}
h1 {
  font-size: 48px;
  margin-top: 50px;
  font-weight: 600;
  text-align: center;
}
.skills {
  width: 1215px;
  height: 844px;
  padding: 50px 25px 0px;
}
.speaking {
  width: 256px;
  height: 600px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px 15px;
}
.shared {
  width: 256px;
  height: 256px;
}
.zvanie {
  font-size: 30px;
  font-weight: 600;
  color: #263238;
}
.poppins {
  font-size: 16px;
  font-weight: 400;
  color: #8f95a5;
  margin-top: 10px;
  margin-bottom: 30px;
}
.learn {
  width: 90px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 40px;
  background-color: #263238;
  border-radius: 4px;
}
.writing {
  width: 255px;
  height: 420px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px 15px;
  margin-left: 320px;
  margin-top: -640px;
}
.writer {
  width: 193px;
  height: 193px;
  margin-left: 60px;
}
.reading {
  width: 371px;
  height: 430px;
  margin-left: 640px;
  margin-top: 10px;
  margin-top: -460px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px 15px;
}
.listening {
  width: 690px;
  height: 195px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px 15px;
  margin-top: 20px;
  margin-left: 320px;
  display: flex;
  justify-content: space-around;
}
.textik {
  width: 300px;
  height: 195px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
